.mat-table {
  width: 100% !important;
  margin-top: 0.9375rem !important;
  background-color: red !important;

  td,
  th {
    white-space: nowrap !important;
    padding-right: 1.5625rem !important;

    &:first-child {
      width: 5% !important;
    }
  }

  td {
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    color: #000000 !important;
  }

  td.mat-cell {
    border-bottom-color: #0235cd !important;
  }

  th.mat-header-cell {
    border-bottom: none !important;
  }

  thead {
    background: #ebf0ff !important;
  }

  tr.mat-header-row {
    height: 3rem !important;
  }
  .mat-sort-header-arrow {
    color: #0235cd !important;
  }

  .table-cta-container {
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    gap: 1rem;

    .cta-container {
      display: flex;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      font-size: 0.875rem;
      font-weight: 500;
      border-radius: 0.3125rem;
      padding: 0.125rem 0.25rem;
      gap: 0.25rem;
      color: #000000;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}

.selectable-row {
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    box-shadow: 0px 4px 24px rgba(60, 69, 115, 0.06);
  }
}
